button {
    text-decoration: none;
    color: var(--text);
    
    transition: background-color 200ms, scale 100ms;
}

button {
    background-color: var(--semi-transparent);
    margin: 0.5rem;
    padding: 0.7rem 1rem;
    border-radius: 20rem;
    border: none;
}

button:hover {
    background-color: var(--semi-transparent-focused);
}

button:active {
    background-color: var(--button-ok);
    scale: 0.9;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: var(--semi-transparent);
}

button:disabled:active {
    background-color: var(--button-error);
    scale: 1;
    animation: shake 300ms;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}