select {
    background-color: var(--semi-transparent);
    color: var(--text);
    
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

option {
    background-color: var(--background);
    color: var(--text);
}

option:disabled {
    color: var(--disabled);
}