html,
body,
#root>div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

@keyframes marqueeScroll {
    to {
      transform: translate3d(0, 0, 0);
    }
}